<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section class="py-0">
        <div class="bg-holder"
             style="background-image:url(static/assets/img/illustrations/bg.png);
                    background-position:left center;
                    background-size:auto 816px">
        </div>
        <h1>message.html!</h1>
        <a href="{% url 'polls:index' %}">Опросы</a>
        <a href="{% url 'users:profiles' %}">Профиль</a>
    </section>
</body>
</html>